  <div id="sidebar">
        <div id="portrait">
        </div>
        <p id="bio">Interactive designer, living in Toronto, dreaming sharks and working on <a href="http://www.athena.co" title="Athena">projects like this.</a></p>
      <div id="contact_icons">
            <a href="http://www.twitter.com/stevietat" target="_blank" title="Follow me on Twitter"><img src="{{site.url}}img/contact_twitter.png" alt="Stivo" /></a>
            <a href="http://ca.linkedin.com/pub/stephen-taubman/a/a9/b5" target="_blank" title="LinkedIn"><img src="{{site.url}}img/contact_linkedin.png" alt="Stivo" /></a>
            <a href="mailto:stephen@staubman.com" title="Drop me a note"><img src="{{site.url}}img/contact_mail.png" alt="Stivo" /></a>
        </div>
        <h2></h2> 
        <h2>Other Projects</h2>
        <ul>
            <li cat-item><a href="{{site.url}}microsites/megasharkstory/">MegaShark Story</a></li>
            <li cat-item><a href="http://www.athena.co">Athena</a></li>
            <li cat-item><a href="http://www.cadee.co">Cadee</a></li>
        </ul>
  
  
</div>



<script type="text/javascript">
  var jPM = $.jPanelMenu({
      menu: '#sidebar',
      trigger: '.sidebar_toggle',
      direction : 'right',
      openPosition : '250px'
  });
  jPM.on();
</script> 