---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article>

        <div id="topportion" class="index" style="background-image: url({{ post.meta:Post_Background }}); ">
          <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
        <div id="wrapper">
        <div id="details">
          <span class="getdate">{{ post.date | date: "%b %-d, %Y" }}</span>
          <span class="mood">Today's Mood</span>
          <span class="moodimage" style="background-image: url({{ post.meta:Mood }});"></span>
          
        </div>
        <div class="entry">
            {% if post.content contains "<!--more-->" %}
            {{ post.content | split:"<!--more-->" | first % }}
            {% else %}
            {{ post.content }}
            {% endif %}
          <a href="{{ site.baseurl }}{{ post.url }}" class="more-link">Continue reading...</a>  
        
        </div>
      </div>

 
      </article>

</div>
